<h2>My Online Movies</h2>

<div>

  <form>
    <label for="formName">
    Form Name
    </label>
  <input id="formName" name="formName" [(ngModel)]="formName"  [value]="formName">

    <label for="formYear">
      Form Year
    </label>
    <input id="formYear"  [value]="formYear">
  </form>
  <button type="button" class="add-button" (click)="searchMoviesTwo();">
    get movie
  </button>
</div>

<ul class="movies">
  <li *ngFor="let movieResultSingle of movieResults">
    {{movieResultSingle.title}}
    {{movieResultSingle.release_date}}
  </li>
</ul>


